.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: black;
  position: absolute;
  width: 100%;
  left: 0;
  height: 10em;
  margin-top: auto;
}

#mention-footer {
  width: 20%;
  margin-top: 20px;
}

#logo-footer {
  width: 10%;
}

@media screen and (max-width: $mobile-width) {
  #mention-footer {
    width: 50%;
  }
  #logo-footer {
    width: 40%;
  }
}
