.about {
  .dropdowns-about {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    .dropdown {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 15px 0;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .about {
    .dropdowns-about {
      .dropdown {
        width: 100%;
      }
    }
  }
}
