.sheet-slider {
  position: relative;
  .cover-image--hidden {
    display: none;
  }
  .arrow {
    z-index: 2;
    position: absolute;
    top: 42%;
    margin: auto;
    font-size: 5em;
    color: white;
    &-right {
      right: 1rem;
    }
    &-left {
      left: 1rem;
    }
  }
  .active-slide {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    color: white;
  }
  .inactive {
    display: none;
  }
}
.cover-image {
  z-index: 1;
}

@media screen and (max-width: $mobile-width) {
  .sheet-slider {
    .arrow {
      max-height: 3em;
      max-width: 1.5em;
      top: 40%;
    }
    .active-slide {
      display: none;
    }
  }
}
