.tags {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  p {
    display: block;
    background-color: $primary-color;
    margin: 0 10px 0 0;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
  }
}

@media screen and (max-width: $mobile-width) {
  .tags {
    p {
      font-size: x-small;
      padding: 5px 10px;
    }
  }
}
